@import '../../Styles/global.scss';

.background {
    // background-color: $light;
}

.locationCard {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 3vh auto;

    @include tablet {
        width: 40%;
        margin: 2vh 1vh 0 2vh;
    }

    &__top {
        height: 50vh;
        object-fit: contain;
        // background-color: red;
        border-radius: 5px 5px 0 0;
    }

    &__img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
        // max-height: 100%;
    }

    &__bottom {
        height: 25vh;
        background-color: $gray;
        border-radius: 0 0 5px 5px;

        @include tablet {
            height: 20vh;
        }
    }

    &__title {
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.25rem;
        padding-left: 5vw;

        @include tablet {
            padding-left: 3vw;
        }
    }

    &__text {
        font-family: "Inter";
        font-weight: 300;
        font-size: 0.75rem;
        padding-left: 5vw;
        color: $dark;

        @include tablet {
            padding-left: 3vw;
            font-size: 0.85rem;
        }
    }

    &__btn {
        font-family: 'Inter';
        font-weight: 300;
        height: 8vw;
        width: 30vw;
        border-radius: 5px;
        background-color: $main;
        border: 1px solid $main;
        color: $dark;
        margin-bottom: 3vh;
        margin-left: 5vw;

        @include tablet {
            height: 4vh;
            width: 20vw;
            margin-left: 9vw;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }
}