@import '../../Styles/global.scss';

.header {
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        width: 85%;

        @include tablet {
            width: 15%;
            margin-left: 4vw;
        }

        @include large {
            width: 10%;
            margin-left: 6vw;
        }
    }

    &__rightContainer {

        @include tablet {
            width: 55vw;
        }

        @include large {
            width: 40vw;
        }
        
    }

    &__nav {

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-right: 6vw;
        }
    }

    &__navItem {
        font-family: 'Inter';
        font-weight: 300;
        list-style: none;
        text-align: center;
        margin: 0 0 2vh 0;

        @include tablet {
            margin: 0;
        }

        @include desktop {
            font-size: 1.5rem;
        }

        @include large {
            font-size: 1.25rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $dark;
    }

    &__addBtn {
        font-family: 'Inter';
        font-weight: 300;
        height: 8vw;
        width: 40vw;
        border-radius: 5px;
        background-color: $gray;
        border: 1px solid $gray;
        color: $medium;
        margin-bottom: 3vh;

        @include tablet {
            width: 18vw;
            height: 4vh;
            font-size: 1rem;
            margin: 0;
        }

        @include desktop {
            font-size: 1.5rem;
        }

        @include large {
            height: 40px;
            font-size: 1.25rem;
            width: 14vw;
        }
    }
}