@import '../../Styles/global.scss';

.Cards {
    background-color: $light;
    
    @include tablet {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 0;
        align-items: center;
        height: 325vh;
        background-color: $light;
    }
}