@import '../../Styles/global.scss';

.Cards {
    background-color: $light;
    
    @include tablet {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 0;
        align-items: center;
        height: 300vh;
        background-color: $light;
    }

    @include desktop {
        height: 300vh;
    }

    @include large {
        height: 150vh;
        flex-direction: row;
        width: 85%;
        justify-content: space-between;
        margin: 2vh auto;
    }
}