@import '../../Styles/global.scss';

.Cards {
    background-color: $light;
    
    @include tablet {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 0;
        align-items: center;
        height: 175vh;
        background-color: $light;
    }

    @include desktop {
        height: 200vh;
    }
}