@import '../../Styles/global.scss';

.locationFoot {
    background-color: $main;
    height: 8vh;
    position: relative;
    z-index: 99;
    

    &__btnContainer {
        position: relative;
        top: 6px;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    &__btn {
        font-family: "Inter";
        background-color: $light;
        border: 1px solid $light;
        border-radius: 5px;
        height: 25px;
        width: 100px;
        margin: 0.25vh;
    }
}