@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter/Inter-Regular-slnt=0.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter/Inter-Light-slnt=0.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter/Inter-Bold-slnt=0.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}

